/* ----------------------------------------------------------------
	Custom CSS
----------------------------------------------------------------- */

.zoom {
	display:inline-block;
	position: relative;
}

.zoom img {
	display: block;
}

.zoom img::selection {
	background-color: transparent;
}

.margin-auto {
	margin: auto;
}

#header.transparent-header.full-header #header-wrap {
	border-bottom: none;
}

#header.sticky-header:not(.static-sticky), #header.sticky-header:not(.static-sticky) #header-wrap, #header.sticky-header:not(.static-sticky):not(.sticky-style-2):not(.sticky-style-3) #logo img {
	height: 100px;
}

#header.sticky-header:not(.static-sticky) #primary-menu > ul > li > a {
	padding-top: 39px;
}
#header.sticky-header:not(.static-sticky) #top-search, #header.sticky-header:not(.static-sticky) #top-cart, #header.sticky-header:not(.static-sticky) #side-panel-trigger {
	margin-top: 39px !important;
}

#header.full-header #logo, #header.full-header #primary-menu > ul {
	border-right: none;
}
i.icon-shopping-cart,
i.icon-search3 {
	font-size: 22px;
}

@media (min-width: 992px) {
	#header, #header-wrap, #logo img {
		height: 100px;
	}
	#primary-menu.index-nav ul li > a {
		padding: 0px;
		line-height: 25px;
	}
}

#primary-menu ul li > a {
	font-family: Bodoni-Sans, 'Oranienbaum';
	font-weight: 600;
	font-size: 14px;
	letter-spacing: 1px;
}

#primary-menu.index-nav ul li > a {
	font-size: 16px;
}

#header.transparent-header.full-header #logo {
	border-right-color: transparent;
}

#header.transparent-header.full-header #primary-menu > ul {
	border-right-color: transparent;
}

#primary-menu ul li.current {
	color: #999;
}

#header.sticky-header:not(.static-sticky) #primary-menu.index-nav > ul > li > a {
	padding: 0;
}

#primary-menu.comingsoon-nav ul li > a {
	color: white;
}

#primary-menu.index-nav ul li > a:hover {
	color: #999;
}

#primary-menu.index-nav > ul > li:first-child {
	padding-top: 12px;
}

#header.full-header #primary-menu.index-nav > ul {
	width: 175px;
	margin-bottom: -500px;
}

#primary-menu.index-nav ul > li {
	float: right;
	width: auto;
	text-align: right;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
	color: #999;
}

#footer.dark, .dark #footer {
	background: #000;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Index page styling - index slide page
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#footer.index {
	border-top: none;
	background-color: #fff;
	margin-top: 30px !important;
}

.portfolio-item .portfolio-image a {
	width: auto;
}
.flex-next {
	right: 0;
	left: auto;
}

#copyrights.index {
	background-color: #fff;
}

/* The scroller on the bottom Empower Entice and Stuff */
div.content div a {
	text-decoration: underline !important;
}

.content {
	color: #000;
	float: none;
	font-size: 43px;
	position: absolute;
	top: 35px;
}


@media (max-width: 1499px) {
	.content {
		font-size: 32px;
		top: 50px;
	}
	.portfolio-2 .portfolio-item {
		margin-top: 40px;
	}
}

@media (max-width: 1199px) {
	.content {
		font-size: 25px;
	}
}

@media (max-width: 991px) {
	.content {
		font-size: 20px;
	}
}

@media (max-width: 767px) {
	.content {
		font-size: 15px;
	}
}

@media (max-width: 500px) {
	.content {
		top: -35px;
		width: 85%;
	}
}
@media (min-width: 479px) {
	.content-wrap .index {
		padding-top: 100px;
	}
}

@media (min-width: 1500px) {
	.container.index {
    width: 1500px;
	}
	.portfolio-2 .portfolio-item {
		margin-top: 40px;
	}
}

.portfolio-overlay {
	background-color: rgb(0,0,0);
}

/*
/* \\\\\\\\\\\\\\\\\\\
	About page styling
/* \\\\\\\\\\\\\\\\\\\
*/

#section-about.page-section {
	padding: 30px 0 0 0;
}

div.container.clearfix video.about {
	display: block;
	width: 70%;
	margin: auto;
}

@media (min-width: 778px) and (max-width: 991px) {
	#primary-menu-trigger {
		left: 675px;
	}
	#primary-menu-trigger.page-trigger {
		left: 636px;
	}

}

@media (max-width: 1224px) {
	.looks {
		text-align: right;
	}
}

/* \\\\\\\\\\\\\\\\\\\
	/* Meet Us Styles
/* \\\\\\\\\\\\\\\\\\\*/
.boss-man {
  margin:auto;
  width:66.6666%;
}

#newUser {
	display: none;
}


/*\\\\\\\\\\\\\\\\\\\\
	 Shop page Coolio
\\\\\\\\\\\\\\\\\\\\*/
.widget {
	margin-top: 25px;
}

.sidebar-widgets-wrap .widget {
	padding-top: 25px;
}

div.widget.clearfix form {
	margin-bottom: 0px;
}
/* random media queries underneath here */


@media (max-width: 991px) {
	#primary-menu.comingsoon-nav ul li > a {
		color: #666;
	}

	#primary-menu.comingsoon-nav ul li > a:hover {
		color: #000;
	}

	#header.transparent-header.full-header #header-wrap {
		background: lightgrey;
	}

	#header.transparent-header.full-header #header-wrap.comingsoon-header {
		background: black;
	}

	#primary-menu.index-nav ul > li {
		float: left;
	}

	#primary-menu.index-nav {
		margin-left: 33px;
	}

	div.container.clearfix video.about {
		display: block;
		width: 100%;
		margin-top: 30px;
	}
}


@media (max-width: 767px) {
	/* Meet Us Styles */
	.boss-man {
  	width: 100%;
	}

	#logo.page-logo img {
		height: 85px;
	}
	/* index rotator Styles */
	.tp-caption {
		white-space: nowrap;
	}
}

@media (max-width: 479px) {
	#logo.page-logo img {
		height: 65px;
		margin-top: 22px;
	}
}

.rotator {
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 5%;
	text-align: right;
	color: #fff;
	float: right;
	font-size: 70px;
}



/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Contact page styling - Contact slide page
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
#page-title.contact {
	background: white;
	border-top: 1px solid #EEE;

}

#page-title.contact div.container h1 {
		font-family: Bodoni-Sans, 'Oranienbaum';
}

.rotator > li {
  font-weight: 800;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
}

.rotator > li:first-child {
  -webkit-animation: loop 11s infinite;
}

.rotator > li:nth-child(2) {
  -webkit-animation: opsecond 11s infinite;
}

.rotator > li:nth-child(3) {
  -webkit-animation: opthird 11s infinite;
}

.rotator > li:last-child {
  -webkit-animation: oplast 11s infinite;
}

@-webkit-keyframes loop {
  0% { opacity: 0; }
  8% { opacity: 1; }
	17% { opacity: 1; }
  25% { opacity: 0; }
}

@-webkit-keyframes opsecond {
  25% { opacity: 0; }
  33% { opacity: 1; }
  42% { opacity: 1; }
  50% { opacity: 0; }
}

@-webkit-keyframes opthird {
  50% { opacity: 0; }
  58% { opacity: 1; }
  67% { opacity: 1; }
  75% { opacity: 0; }
}

@-webkit-keyframes oplast {
  75% { opacity: 0; }
  83% { opacity: 1; }
  92% { opacity: 1; }
  100% { opacity: 1; }
  0% { opacity: 0; }
}
