/* ----------------------------------------------------------------
	Custom CSS
----------------------------------------------------------------- */

/* randomly broken fixes on shop page  */
.product:not(.product-2):not(.product-3) .product-title h3, .product:not(.product-2):not(.product-3) .product-price  {
	font-size: 13px;
	font-family: Lato, sans-serif;
	text-transform: uppercase;
	font-weight: 300;
}
.product-price > ins {
	font-family: 'Shadows Into Light Two', cursive;
	color: red;
	font-size: 14px;
}

.product-desc .product-title {
	height: 30px;
}

@media (max-width: 1199px) and (min-width: 481px) {
	.product:not(.product-2):not(.product-3) .product-title h3, .product:not(.product-2):not(.product-3) .product-price  {
		font-size: 12px;
	}
}

@media (max-width: 480px) {
	.product:not(.product-2):not(.product-3) .product-title h3, .product:not(.product-2):not(.product-3) .product-price {
		font-size: 14px;
	}
}

i.icon-shopping-cart,
i.icon-search3 {
	font-size: 20px;
}

/* randomly broken fixes on shop page END */

.margin-auto {
	margin: auto;
}

.button {
	font-weight: 300;
}


body.stretched #header.full-header.sticky-header .container {
	box-shadow: 0px 3px 3px lightgrey;
}

#header.transparent-header.full-header #header-wrap {
	border-bottom: none;
}

#header.full-header #logo, #header.full-header #primary-menu > ul {
	border-right: none;
}

@media (min-width: 992px) {
	.side-header #primary-menu ul li a {
		text-align: right;	
	}
	.side-header #logo img {
		margin: auto;
	}
	.side-header #logo:not(.nobottomborder):after, .side-header #primary-menu:not(.nobottomborder):after {
		width: 0%;

	}
	#primary-menu > ul.nav-left {
		left: 169px;
		position: relative;
	}
	#primary-menu > ul.nav-right {
		right: 109px;
		position: relative;
	}
}

#primary-menu ul li > a {
	font-family: Lato, sans-serif;
	font-weight: 400;
	font-size: 13px;
	letter-spacing: 1px;
}

#primary-menu ul ul li>a {
	font-weight: 400;
	font-size: 13px;
}
#primary-menu ul li>a i {
font-size:12px;
}

.top-links li>a {
	font-weight: 400;
}

#header.transparent-header.full-header #logo {
	border-right-color: transparent;
}

#header.transparent-header.full-header #primary-menu > ul {
	border-right-color: transparent;
}

#primary-menu ul li:hover > a, #primary-menu ul li.current > a {
	color: #999;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  /* FOOTER
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

.fright.clearfix a i {
	font-size: 18px;
}
.copyrights-menu.copyright-links a {
	color: white;
}

#footer.dark, .dark #footer {
	background: #000;
}

.footer-logo {
	margin-bottom: 7px;
}





/*
/* \\\\\\\\\\\\\\\\\\\
 #shop page styling mostly filters
/* \\\\\\\\\\\\\\\\\\\
*/

.single-product .add-to-cart.button {
	margin-top: 0;
}
.commentlist {
	border-bottom: none;
}

#reviews .commentlist li {
	margin-left: 0px;
	margin-top: 0px;
}

.comment {
	list-style: none;
}

.comment.odd {
	 margin-left: 85px !important;
}
.comment-avatar {
	border: none;
}

.comment-avatar img {
	border-radius: 0%;
}

.different-stars .rating-container .filled-stars {
	color: #000;
}

.rating-xs {
    font-size: 1.5em;
}
.toggle.toggle-bg.ui-group .togglec {
	padding: 12px 0 0 6px
}

#mainRatingDiv a:hover {
	color: blue;
	text-decoration: underline !important;
}

div.toggle.toggle-bg.ui-group > div.togglec > div > label {
	font-weight: 300;
	font-family: 'Lato';
}

@media (min-width: 992px) {
	.Fixed {
		position: fixed;
		overflow-y: auto;
		height: 60vh;
		transform: translatez(0);
	}
	div.wrap-filter.toggle.Fixed div.sidebar.nobottommargin.togglec {
		display: block !important;
	}
	div.wrap-filter.toggle.Fixed > div.togglet {
		background-color: transparent;
	}

	.sidebar .sidebar-widgets-wrap .widget {
		padding-top: 15px;
		margin-top: 10px;
	}

	.sidebar .sidebar-widgets-wrap .widget .toggle {
		margin: 0 0 7px;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	div.sidebar-widgets-wrap div.widget {
		padding-top: 15px;
		margin: 0;
	}

	.widget .toggle .togglet {
		background-color: transparent;
	}

	.widget .toggle {
		margin: 0 0 7px;
	}
	div.sidebar.nobottommargin.togglec {
		border-bottom: none;
	}
}
@media (max-width: 767px) {
	.sidebar-widgets-wrap .widget {
		padding-top: 15px;
		margin-top: 10px;
	}

	.sidebar-widgets-wrap .widget .toggle {
		margin: 0 0 7px;
	}
}

.toggle .togglet, .toggle .toggleta {
	font-weight: 300;
}

/*
/* \\\\\\\\\\\\\\\\\\\
	About page styling
/* \\\\\\\\\\\\\\\\\\\
*/

#section-about.page-section {
	padding: 30px 0 0 0;
}

p.aboutblocks {
	font-size: 17px; 
	color:#111111; 
	font-family: 'EB Garamond';
}

div.container.clearfix video.about {
	width: 70%;
}

@media (min-width: 778px) and (max-width: 991px) {
	#primary-menu-trigger {
		left: 675px;
	}
	#primary-menu-trigger.page-trigger {
		left: 636px;
	}
}

@media (max-width: 1224px) {
	.looks {
		text-align: right;
	}
}

.looks.old {
	text-align: right;
}

.looks.aura {
	text-align: right;
}

@media (max-width: 1078px) {
	.looks.aura {
		text-align: left;
	}
}

/* \\\\\\\\\\\\\\\\\\\
	/* Meet Us Styles
/* \\\\\\\\\\\\\\\\\\\*/
.boss-man {
  margin:auto;
  width:66.6666%;
}

.bott-man {
  margin:auto;
  width:66.6666%;
}

#newUser {
	display: none;
}

.team-title span {
	text-transform: uppercase;
	color: #888;
	font-style: normal;
}

/* \\\\\\\\\\\\\\\\\\\\\
	/* Careers Page Styles
/* \\\\\\\\\\\\\\\\\\\*/
.iconlist-color li i {
	color: #777;
}

.heading-block h2 {
	font-weight: 600;
}

div.acc_content.clearfix {
  display: block !important;
}





/*\\\\\\\\\\\\\\\\\\\\
	 Shop page Coolio
\\\\\\\\\\\\\\\\\\\\*/

.product-image > a > img.shopimg:hover {
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: linear; /* Safari and Chrome */
  transition-timing-function: linear;
  -webkit-transition-duration: .25s; /* Safari */
  transition-duration: .25s;
}

.product-image > a > img {
	border: 2px solid lightgrey;
	border-radius: 3px;
}

.product-overlay a {
	color: #ffffff;
	background-color: rgba(0,0,0,1);
}

.ex1 > span > img.zoomImg {
  width: 400px !important;
  height: 533px !important;
  cursor :zoom-in;
}

.widget {
	margin-top: 25px;
}

.sidebar-widgets-wrap .widget {
	padding-top: 25px;
}

div.widget.clearfix form {
	margin-bottom: 0px;
}

.togglec.detailViewAddInfo {
  display: block !important;
}
/* random media queries underneath here */


@media (max-width: 991px) {
	#header.transparent-header.full-header #header-wrap {
		background: lightgrey;
	}

	div.container.clearfix video.about {
		display: block;
		width: 100%;
		margin-top: 30px;
	}
}


@media (max-width: 767px) {
	/* Meet Us Styles */
	.boss-man {
  	width: 100%;
	}

	#logo.page-logo a img {
		height: 85px;
	}
}

@media (max-width: 479px) {
	#logo.page-logo a img {
		height: 65px;
		margin-top: 22px;
	}
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
Contact page styling - Contact slide page
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
@media (min-width: 992px) {
  #content > div > div.contact {
    width: 90%;
  }
}

div.contact-img > div.col-sm-3 {
	padding-left: 6px;
	padding-right: 6px;
}

.team-overlay {
	opacity: 1;
}
.team-overlay:before, .team-overlay > .team-desc {
	background-color: transparent;
}

div.team-social-icons a, div.team-social-icons p {
	color: #FAFAFA;
	font-size: 17px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	font-family: Bodoni-Sans;
}

div.team-title h4 a:hover {
	color: #999;
  cursor: pointer;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  /* FAQ SECTION
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/

#contact-faq > div > div.togglet {
  border-bottom: 2px solid #444;
  font-family: "Source Sans Pro";
  font-size: 21px;
  font-weight: 300;
}
.toggle.toggle-bg .togglet i {
  font-size: 12px;
}


/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
  /* SPECIALS SECTION
\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\*/
.cross {
	position: relative;
	display: inline-block;
}
.cross::before, .cross::after {
	content: '';
	width: 100%;
	position: absolute;
	right: 0;
	top: 50%;
}
.cross::before {
	border-bottom: 1.5px solid red;
	-webkit-transform: skewY(-10deg);
	transform: skewY(-10deg);
}

.owl-container {
  width: 100%;
  /*
  padding-right: 15px;
  padding-left: 15px;
    */
  margin-right: auto;
  margin-left: auto;

}

@media (min-width: 576px) {
.owl-container {
    max-width: 100%
}
}

@media (min-width: 768px) {
.owl-container {
    max-width: 100%
}
}

@media (min-width: 992px) {
.owl-container {
    max-width: 100%
}
}

@media (min-width: 1200px) {
.owl-container {
    max-width: 1400px;
}
}

