<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark" style="margin-bottom: -10px;">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder" style="color: white;"></i></div>

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="index-nav comingsoon-nav">
        <ul data-easing="easeInOutExpo" data-speed="1250" data-offset="65" style="font-family: Bodoni-Sans; color: white;">
          <li><a href="{{ site.baseurl }}/"><div>HOME</div></a></li>
          <li><a href="{{ site.baseurl }}/about"><div>ABOUT US</div></a></li>
          <li><a href="{{ site.baseurl }}/meet"><div style="width: 146px">MEET OUR TEAM</div></a></li>


          {% if page.url == "/comingsoon/" %}
            <li class="current"><a href="{{ site.baseurl }}/comingsoon"><div>FIND A STORE</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/comingsoon"><div>FIND A STORE</div></a></li>
          {% endif %}


          {% if page.url == "/comingsoon1/" %}
            <li class="current"><a href="{{ site.baseurl }}/comingsoon1"><div style="width: 144px">RETAILER LOGIN</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/comingsoon1"><div style="width: 144px">RETAILER LOGIN</div></a></li>
          {% endif %}



          <li><a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank"><div>FIND A REP</div></a></li>
          <li><a href="{{ site.baseurl }}/contact"><div>CONTACT</div></a></li>
          <li><a href="http://www.cousin.com" target="_blank"><div>COUSIN.COM</div></a></li>
        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
