<!-- Footer
============================================= -->
<footer id="footer" class="dark" style="margin-top: 5px;">
  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half">
        Copyrights &copy; 2016 All Rights Reserved by Cousin Corp.<br>
        <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
      </div>
      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/laurajbycousin" target="_blank" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>

          <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-small si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>
        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i><a href="mailto:info@laurajanelle.com" style="color: #555;">&nbsp; info@laurajanelle.com</a> <span class="middot">&middot;</span> <i class="icon-headphones"></i> 844 366-6900
      </div>
    </div>
  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
