<!-- Footer
============================================= -->
<footer id="footer" class="dark">
    <div class="container">

				<!-- Footer Widgets
				============================================= -->
				<div class="footer-widgets-wrap clearfix">

					<div class="row clearfix">

						<div class="col-md-6">

							<div class="widget clearfix">
								<div class="row">

									<div class="col-xs-4 widget_links">
										<ul>
											<li><a href="#">Home</a></li>
											<li><a href="#">About</a></li>
											<li><a href="#">FAQs</a></li>
											<li><a href="#">Support</a></li>
											<li><a href="#">Contact</a></li>
										</ul>
									</div>

									<div class="col-xs-4 widget_links">
										<ul>
											<li><a href="#">Shop</a></li>
											<li><a href="#">Portfolio</a></li>
											<li><a href="#">Blog</a></li>
											<li><a href="#">Events</a></li>
											<li><a href="#">Forums</a></li>
										</ul>
									</div>

									<div class="col-xs-4 widget_links">
										<ul>
											<li><a href="#">Corporate</a></li>
											<li><a href="#">Agency</a></li>
											<li><a href="#">eCommerce</a></li>
											<li><a href="#">Personal</a></li>
											<li><a href="#">OnePage</a></li>
										</ul>
									</div>

								</div>
							</div>
							<div class="visible-sm bottommargin-sm"></div>

						</div>

						<div class="visible-sm visible-xs line"></div>

						<div class="col-md-6">

							<div class="widget subscribe-widget clearfix" id="mc_embed_signup">
								<h4>Subscribe to Our Newsletter</h4>
								<p>Get Important Offers and Deals directly to your Email Inbox. <em>We never send spam!</em></p>
								<div class="widget-subscribe-form-result"></div>
								<form id="widget-subscribe-form" action="https://laurajanelle.us14.list-manage.com/subscribe/post?u=786d98c15ffd8d115b6115c94&amp;id=b5fc8f1516" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
									<div  style="margin-bottom: -10px;">
										<div id="mc_embed_signup_scroll" class="row">
											<div  class="col-sm-9" style="margin-bottom:10px;">
													<div style="position: absolute; left: -5000px;" aria-hidden="true"></div>
												<input type="email" id="mce-EMAIL" name="EMAIL" class="form-control not-dark required email" placeholder="Enter your Email">
												<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_786d98c15ffd8d115b6115c94_b5fc8f1516" tabindex="-1" value=""></div>
											</div>
											<div class="col-sm-3" style="margin-bottom:10px;">
												<button class="btn btn-block btn-success" type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">Subscribe</button>
											</div>
										</div>
									</div>
								</form>

							</div>

						</div>

					</div>

					<div class="line"></div>

					<div class="row clearfix">

						<div class="col-md-7 col-sm-6">
							<div class="widget clearfix">
								<div class="clear-bottommargin-sm">
									<div class="row clearfix">

										<div class="col-md-6">
											<div class="footer-big-contacts">
												<span>Call Us:</span>
												(91) 22 55412474
											</div>
											<div class="visible-sm visible-xs bottommargin-sm"></div>
										</div>

										<div class="col-md-6">
											<div class="footer-big-contacts">
												<span>Send an Email:</span>
												info@canvas.com
											</div>
											<div class="visible-xs bottommargin-sm"></div>
										</div>

									</div>
								</div>
							</div>
							<div class="visible-sm visible-xs bottommargin-sm"></div>
						</div>

						<div class="col-md-5 col-sm-6">

							<div class="clearfix" data-class-lg="fright" data-class-md="fright" data-class-sm="fright" data-class-xs="" data-class-xxs="">
								<a href="#" class="social-icon si-rounded si-small si-colored si-facebook">
									<i class="icon-facebook"></i>
									<i class="icon-facebook"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-twitter">
									<i class="icon-twitter"></i>
									<i class="icon-twitter"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-gplus">
									<i class="icon-gplus"></i>
									<i class="icon-gplus"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-pinterest">
									<i class="icon-pinterest"></i>
									<i class="icon-pinterest"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-vimeo">
									<i class="icon-vimeo"></i>
									<i class="icon-vimeo"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-github">
									<i class="icon-github"></i>
									<i class="icon-github"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-yahoo">
									<i class="icon-yahoo"></i>
									<i class="icon-yahoo"></i>
								</a>

								<a href="#" class="social-icon si-rounded si-small si-colored si-linkedin">
									<i class="icon-linkedin"></i>
									<i class="icon-linkedin"></i>
								</a>
							</div>

						</div>

					</div>

				</div><!-- .footer-widgets-wrap end -->

			</div>
  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">
    <div class="container clearfix t300">
      <div class="col_half hidden-xs t300">
        
        Copyrights &copy; 2018 All Rights Reserved by Cousin Corporation.
      </div>
      <div class="center visible-xs">
        <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-facebook margin-auto" style="float: none; display: inline-block;">
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
        </a>

        <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-borderless si-twitter margin-auto" style="float: none; display: inline-block;">
          <i class="icon-twitter"></i>
          <i class="icon-twitter"></i>
        </a>

        <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-instagram margin-auto" style="float: none; display: inline-block;">
          <i class="icon-instagram"></i>
          <i class="icon-instagram"></i>
        </a>

        <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-borderless si-pinterest margin-auto" style="float: none; display: inline-block;">
          <i class="icon-pinterest"></i>
          <i class="icon-pinterest"></i>
        </a>

        <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-borderless si-linkedin margin-auto" style="float: none; display: inline-block;">
          <i class="icon-linkedin"></i>
          <i class="icon-linkedin"></i>
        </a>
        <img src="{{ site.baseurl }}/img/logos/lj-white-footer.png" alt="Cousin Corporation" class="footer-logo">
      </div>


      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>

          <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>

        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i><a href="mailto:info@laurajanelle.com" style="color: #fff;">&nbsp; info@laurajanelle.com</a> <span class="middot">&middot;</span> <i class="icon-call"></i> (844) 366-6900
      </div>
    </div>
  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
