<!-- Footer
============================================= -->
<footer id="footer" class="dark">
  <!-- Copyrights
  ============================================= -->
  <div id="copyrights">
    <div class="container clearfix">
      <div class="col_half hidden-xs">
        <img src="{{ site.baseurl }}/img/logos/lj-newlogo-footer.png" alt="Cousin Corporation" class="footer-logo">
        Copyrights &copy; 2016 All Rights Reserved by Cousin Corporation.
      </div>
      <div class="center visible-xs">
        <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-facebook margin-auto" style="float: none; display: inline-block;">
          <i class="icon-facebook"></i>
          <i class="icon-facebook"></i>
        </a>

        <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-borderless si-twitter margin-auto" style="float: none; display: inline-block;">
          <i class="icon-twitter"></i>
          <i class="icon-twitter"></i>
        </a>

        <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-borderless si-instagram margin-auto" style="float: none; display: inline-block;">
          <i class="icon-instagram"></i>
          <i class="icon-instagram"></i>
        </a>

        <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-borderless si-pinterest margin-auto" style="float: none; display: inline-block;">
          <i class="icon-pinterest"></i>
          <i class="icon-pinterest"></i>
        </a>

        <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-borderless si-linkedin margin-auto" style="float: none; display: inline-block;">
          <i class="icon-linkedin"></i>
          <i class="icon-linkedin"></i>
        </a>
        <img src="{{ site.baseurl }}/img/logos/lj-newlogo-footer.png" alt="Cousin Corporation" class="footer-logo">
      </div>


      <div class="col_half col_last tright">
        <div class="fright clearfix">
          <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-facebook">
            <i class="icon-facebook"></i>
            <i class="icon-facebook"></i>
          </a>

          <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-small si-borderless si-twitter">
            <i class="icon-twitter"></i>
            <i class="icon-twitter"></i>
          </a>

          <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-instagram">
            <i class="icon-instagram"></i>
            <i class="icon-instagram"></i>
          </a>

          <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-small si-borderless si-pinterest">
            <i class="icon-pinterest"></i>
            <i class="icon-pinterest"></i>
          </a>

          <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-small si-borderless si-linkedin">
            <i class="icon-linkedin"></i>
            <i class="icon-linkedin"></i>
          </a>

        </div>
        <div class="clear"></div>
        <i class="icon-envelope2"></i><a href="mailto:info@laurajanelle.com" style="color: #555;">&nbsp; info@laurajanelle.com</a> <span class="middot">&middot;</span> <i class="icon-call"></i> 844 366-6900
      </div>
    </div>
  </div><!-- #copyrights end -->
</footer><!-- #footer end -->
