<script type="text/javascript">
  sessionNumber();
</script>
<!-- Header
============================================= -->
<header id="header">

  <div id="header-wrap">

    <div class="container clearfix">

      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!-- Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-1.png"><img src="{{ site.baseurl }}/img/lj-bw-1.png" alt="Laura Janelle Logo"></a>
        <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-1.png"><img src="{{ site.baseurl }}/img/lj-bw-1.png" alt="laura Janelle Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu">

        <ul>
          <li><a href="{{ site.baseurl }}/"><div>Home</div></a></li>

          <li><a href="{{ site.baseurl }}/shop-filter"><div id="shopFilter">Shop</div></a>
            <ul>
              <li><a href="#"><div id="shopFilterCollections">Collections</div></a>
                <ul>
                  <li><a href="{{ site.baseurl }}/sleek"><div id="shopFilterSleek">SLEEK</div></a></li>
                  <li><a href="{{ site.baseurl }}/rglb"><div id="shopFilterRGLB">RGLB</div></a></li>
                  <li><a href="{{ site.baseurl }}/encharming"><div id="shopFilterEncharming">ENCHARMING</div></a></li>
                  <li><a href="{{ site.baseurl }}/identify"><div id="shopFilterIdentify">IDENTIFY</div></a></li>
                </ul>
              </li>
              <li><a href="{{ site.baseurl }}/programs"><div id="shopFilterPrograms">PROGRAMS</div></a></li>
              <li><a href="{{ site.baseurl }}/sets"><div id="shopFilterSets">SETS</div></a></li>
              <li><a href="{{ site.baseurl }}/earrings"><div id="shopFilterEarrings">EARRINGS</div></a></li>
              <li><a href="{{ site.baseurl }}/necklaces"><div id="shopFilterNecklaces">NECKLACES</div></a></li>
              <li><a href="{{ site.baseurl }}/bracelets"><div id="shopFilterBracelets">BRACELETS</div></a></li>
              <li><a href="{{ site.baseurl }}/lanyards"><div id="shopFilterLanyards">LANYARDS</div></a></li>
              <li><a href="{{ site.baseurl }}/tassels"><div id="shopFilterTassels">TASSELS</div></a></li>
              <li><a href="{{ site.baseurl }}/snaps"><div id="shopFilterSnaps">SNAPS</div></a></li>
            </ul>
          </li>
          <li><a href="{{ site.baseurl }}/cart"><div>Cart</div></a></li>
        </ul>

        <!-- Top Cart
        ============================================= -->
        <div id="top-cart">
          <a href="{{ site.baseurl }}/cart" id="top-cart-trigger"><i class="icon-shopping-cart"></i>
    <!--        <span></span> -->
          </a>
<!--          <div class="top-cart-content">
            <div class="top-cart-title">
              <h4>Shopping Cart</h4>
            </div>
            <div class="top-cart-items">
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="{{ site.baseurl }}/images/shop/small/1.jpg" alt="Blue Round-Neck Tshirt" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Blue Round-Neck Tshirt</a>
                  <span class="top-cart-item-price">$19.99</span>
                  <span class="top-cart-item-quantity">x 2</span>
                </div>
              </div>
              <div class="top-cart-item clearfix">
                <div class="top-cart-item-image">
                  <a href="#"><img src="{{ site.baseurl }}/images/shop/small/6.jpg" alt="Light Blue Denim Dress" /></a>
                </div>
                <div class="top-cart-item-desc">
                  <a href="#">Light Blue Denim Dress</a>
                  <span class="top-cart-item-price">$24.99</span>
                  <span class="top-cart-item-quantity">x 3</span>
                </div>
              </div>
            </div>
            <div class="top-cart-action clearfix">
              <span class="fleft top-checkout-price">$114.95</span>
              <button class="button button-3d button-small nomargin fright">View Cart</button>
            </div>
          </div> -->
        </div><!-- #top-cart end -->

        <!-- Top Search
        ============================================= -->
        <div id="top-search">
          <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
          <form>
            <input id="searchvalue" type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
          </form>
        </div><!-- #top-search end -->

      </nav><!-- #primary-menu end -->

    </div>

  </div>

</header><!-- #header end -->
