<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

<!--  Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/one-page/images/lj-white-2.png"><img src="{{ site.baseurl }}/one-page/images/lj-bw-1.png" alt="Laura Janelle Logo"></a>
        <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/one-page/images/lj-white-2.png"><img src="{{ site.baseurl }}/one-page/images/lj-bw-1.png" alt="Laura Janelle Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="index-nav">
        <ul class="one-page-menu" data-easing="easeInOutExpo" data-speed="1250" data-offset="65" style="font-family: Bodoni-Sans">
          <li><a href="{{ site.baseurl }}/"><div>HOME</div></a></li>
          <li><a href="{{ site.baseurl }}/about"><div>ABOUT US</div></a></li>
          <li><a href="{{ site.baseurl }}/comingsoon"><div>FIND STORE</div></a></li>
          <li><a href="{{ site.baseurl }}/comingsoon1"><div>RETAILERS</div></a></li>
          <li><a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank"><div>FIND A REP</div></a></li>
          <li><a href="{{ site.baseurl }}/contact"><div>CONTACT</div></a></li>
          <li><a href="http://www.cousin.com" target="_blank"><div>COUSIN.COM</div></a></li>
        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
