<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">
  <div>
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

      <!--  Logo
      ============================================= -->
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/lj-white-2.png"><img src="{{ site.baseurl }}/img/lj-newlogo-orig.png" alt="Laura Janelle Logo"></a>
        <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/lj-white-2.png"><img src="{{ site.baseurl }}/img/lj-newlogo-orig.png" alt="Laura Janelle Logo"></a>
      </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="index-nav">
        <ul data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          {% if page.url == "/" %}
            <li class="current"><a href="{{ site.baseurl }}/" target="_blank"><div>HOME</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/" target="_blank"><div>HOME</div></a></li>
          {% endif %}

          {% if page.url == "/about/" %}
            <li class="current"><a href="{{ site.baseurl }}/about" target="_blank"><div>ABOUT US</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/about" target="_blank"><div>ABOUT US</div></a></li>
          {% endif %}

          {% if page.url == "/meet/" %}
            <li class="current"><a href="{{ site.baseurl }}/meet" target="_blank"><div>MEET OUR TEAM</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/meet" target="_blank"><div>MEET OUR TEAM</div></a></li>
          {% endif %}

          {% if page.url == "/findstore/" %}
          <li class="current"><a href="{{ site.baseurl }}/findstore" target="_blank"><div>FIND A STORE</div></a></li>
          {% else %}
          <li><a href="{{ site.baseurl }}/findstore" target="_blank"><div>FIND A STORE</div></a></li>
          {% endif %}

          <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>RETAILER LOGIN</div></a></li>
          <li><a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank"><div>FIND A REP</div></a></li>

          {% if page.url == "/careers/" %}
            <li class="current">
              <a href="{{ site.baseurl }}/careers" target="_blank">
                <div>CAREERS</div>
              </a>
            </li>
          {% else %}
            <li>
              <a href="{{ site.baseurl }}/careers" target="_blank">
                <div>CAREERS</div>
              </a>
            </li>
          {% endif %}

          {% if page.url == "/contact/" %}
            <li class="current"><a href="{{ site.baseurl }}/contact" target="_blank"><div>CONTACT</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/contact" target="_blank"><div>CONTACT</div></a></li>
          {% endif %}

          <li><a href="http://www.cousin.com" target="_blank"><div>COUSIN.COM</div></a></li>
          <li><a href="{{ site.baseurl }}/thelooks.html" target="_blank"><div>THE LOOKS</div></a></li>

        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
