<!-- Header
============================================= -->
<header id="header" class="full-header transparent-header" data-sticky-class="not-dark">
  <div id="header-wrap">
    <div class="container clearfix">
      <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

<!--  Logo
      =============================================
      <div id="logo">
        <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/one-page/images/lj-white-2.png"><img src="{{ site.baseurl }}/one-page/images/LJ_grey.jpg" alt="Canvas Logo"></a>
        <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/one-page/images/lj-white-2.png"><img src="{{ site.baseurl }}/one-page/images/lj-bw-1.png" alt="Canvas Logo"></a>
     </div><!-- #logo end -->

      <!-- Primary Navigation
      ============================================= -->
      <nav id="primary-menu" class="index-nav">
        <ul data-easing="easeInOutExpo" data-speed="1250" data-offset="65">
          {% if page.url == "/" %}
            <li class="current"><a href="{{ site.baseurl }}/"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOME</div></a></li>
          {% else %}
            <li><a href="{{ site.baseurl }}/"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;HOME</div></a></li>
          {% endif %}

          <li><a href="{{ site.baseurl }}/about"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ABOUT US</div></a></li>
          <li><a href="{{ site.baseurl }}/meet"><div>&nbsp;MEET OUR TEAM</div></a></li>
          <li><a href="{{ site.baseurl }}/comingsoon"><div>&nbsp;&nbsp;FIND A STORE</div></a></li>
          <li><a href="{{ site.baseurl }}/retailerlogin"><div>RETAILER LOGIN</div></a></li>
          <li><a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank"><div>&nbsp;&nbsp;&nbsp;&nbsp;FIND A REP</div></a></li>
          <li><a href="{{ site.baseurl }}/contact"><div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;CONTACT</div></a></li>
          <li><a href="http://www.cousin.com" target="_blank"><div>&nbsp;&nbsp;&nbsp;&nbsp;COUSIN.COM</div></a></li>
        </ul>
      </nav><!-- #primary-menu end -->
    </div>
  </div>
</header><!-- #header end -->
