<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Laura Janelle" />
  <meta name="description" content="{{ site.description }}">

	<!-- Stylesheets
	============================================= -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

	<link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Adamina:300,400,500,600,700,800,900|Raleway:300,400,500,600,700,800,900|Roboto:400,100,300,500,700,900|Permanent+Marker" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/bootstrap.css" | prepend: site.baseurl }}" type="text/css">
	<link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/dark.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/font-icons.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/animate.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/magnific-popup.css" | prepend: site.baseurl }}" type="text/css" />
	<link rel="stylesheet" href="{{ "/css/responsive.css" | prepend: site.baseurl }}" type="text/css" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!--[if lt IE 9]>
		<script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
	<![endif]-->

	<script type="text/javascript" src="{{ "/js/jquery.js" | prepend: site.baseurl }}"></script>
	<script type="text/javascript" src="{{ "/js/history.js" | prepend: site.baseurl }}"></script>

	<!-- Document Title
	============================================= -->
	<title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

</head>
