<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<!-- External JavaScripts
============================================= -->
<script type="text/javascript" src="{{ "/js/history.js" | prepend: site.baseurl }}"></script>
<script type="text/javascript" src="{{ "/js/plugins.js" | prepend: site.baseurl }}"></script>

<!-- Footer Scripts
============================================= -->
<script type="text/javascript" src="{{ "/js/functions.js" | prepend: site.baseurl }}"></script>
