<!-- Range Slider Plugin -->
<script type="text/javascript" src="js/components/rangeslider.min.js"></script>

<script type="text/javascript">

  var priceRangefrom = 0,
    priceRangeto = 0,
    $container = null;

  jQuery(window).load(function(){

    $container = $('#shop');

    $container.isotope({ transitionDuration: '0.65s' });

    $('#portfolio-filter a').click(function(){
      $('#portfolio-filter li').removeClass('activeFilter');
      $(this).parent('li').addClass('activeFilter');
      var selector = $(this).attr('data-filter');
      $container.isotope({ filter: selector });
      return false;
    });

    $(window).resize(function() {
      $container.isotope('layout');
    });

  });

  jQuery(document).ready( function($){

    $(".range_23").ionRangeSlider({
      type: "double",
      min: 9.99,
      max: 129.99,
      from: 9.99,
      to: 129.99,
      prefix: '$',
      hide_min_max: true,
      hide_from_to: false,
      grid: false,
      onStart: function (data) {
        priceRangefrom = data.from;
        priceRangeto = data.to;
      },
      onFinish: function (data) {
        priceRangefrom = data.from;
        priceRangeto = data.to;

        $container.isotope({
          filter: function() {

            if( $(this).find('.product-price').find('ins').length > 0 ) {
              var price = $(this).find('.product-price ins').text();
            } else {
              var price = $(this).find('.product-price').text();
            }

            priceNum = price.split("$");

            return ( priceRangefrom <= priceNum[1] && priceRangeto >= priceNum[1] );
          }
        });

      }
    });

  });

</script>
