<!-- Top Bar
============================================= -->
<div id="top-bar" class="hidden-xs">
  <div class="container clearfix">
    <div class="col_half nobottommargin">
      <!-- Top Links
			============================================= -->
			<div class="top-links">
				<ul>
					<li><a href="/">Home</a></li>
		   			<li><a href="#faq">FAQs</a></li>
					<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
			</div><!-- .top-links end -->
    </div>
    <div class="col_half fright col_last nobottommargin">
			<!-- Top Social
			============================================= -->
			<div id="top-social">
				<i class="icon-envelope2"></i><a href="mailto:customerservice@laurajanelle.com" style="color: #555;">&nbsp; customerservice@laurajanelle.com</a> <span class="middot">&middot;</span> <i class="icon-call"></i> 844 366-6900
			</div><!-- #top-social end -->
		</div>
  </div>
</div><!-- #top-bar end -->
