<!-- Top Bar
============================================= -->
<div id="top-bar" class="hidden-xs">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
			============================================= -->
			<div class="top-links">
				<ul>
					<li><a href="index.html">Home</a></li>
					<li><a href="#faq">FAQs</a></li>
					<li><a href="contact.html">Contact</a></li>
				</ul>
			</div><!-- .top-links end -->

<!--      <p class="nobottommargin"><a href="index.html">HOME</a> &nbsp;|&nbsp; <a href="faqs.html">FAQS</a>&nbsp;|&nbsp;
			<strong>Call:</strong> 866 366-6900 &nbsp;|&nbsp; <strong>Email:</strong> info@LauraJanelle.com</p> -->

    </div>

  </div>

</div><!-- #top-bar end -->
