<!-- Top Bar
============================================= -->
<div id="top-bar" class="hidden-xs">

  <div class="container clearfix">

    <div class="col_half nobottommargin">

      <!-- Top Links
			============================================= -->
			<div class="top-links">
				<ul>
					<li><a href="/">Home</a></li>
		   			<li><a href="#faq">FAQs</a></li>
					<li><a href="{{ site.baseurl }}/contact">Contact</a></li>
				</ul>
			</div><!-- .top-links end -->


<!--      <p class="nobottommargin"><a href="index.html">HOME</a> &nbsp;|&nbsp; <a href="faqs.html">FAQS</a>&nbsp;|&nbsp;
			<strong>Call:</strong> 866 366-6900 &nbsp;|&nbsp; <strong>Email:</strong> info@LauraJanelle.com</p> -->

    </div>
    <div class="col_half fright col_last nobottommargin">

			<!-- Top Social
			============================================= -->
			<div id="top-social">
				<i class="icon-envelope2"></i><a href="mailto:info@laurajanelle.com" style="color: #555;">&nbsp; info@laurajanelle.com</a> <span class="middot">&middot;</span> <i class="icon-call"></i> 844 366-6900
			</div><!-- #top-social end -->

		</div>

  </div>


</div><!-- #top-bar end -->
