<!DOCTYPE html>

<html dir="ltr" lang="en-US">

{% include head.html %}

<body class="stretched">
  <div id="wrapper" class="clearfix">

    {{ content }}

  </div>

  {% include js.html %} 
  {% if page.url == "/retailerlogin/" %}
  <script>
    $(document).ready(function () {

      login();

      $("#validateButton").click(function () {
        var hasErrors = $('#register-form').validator('validate').has('.has-error').length;
        if (hasErrors) {
          alert('Customer application has errors.');
        } else {
          $("#register-form-submit").click();
        }
      });
    });
  </script>
  {% endif %}

</body>

</html>