<!DOCTYPE html>

<html dir="ltr" lang="en-US">

  {% include head.html %}

  <body class="stretched">
    <div id="wrapper" class="clearfix">

      {{ content }}

    </div>
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"
    integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
    crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.3/js.cookie.min.js"></script>
    <script type="text/javascript" src="{{ "/js/ajax-store.js" | prepend: site.baseurl }}"></script>
    {% include js.html %}
    <script>
    jQuery(document).ready(function() {

      login();

      $("#validateButton").click(function() {
        var hasErrors = $('#register-form').validator('validate').has('.has-error').length;
        if (hasErrors) {
          alert('Customer application has errors.');
        } else {
          $("#register-form-submit").click();
        }
      });
    });
    </script>

  </body>

</html>
