---
layout: compress
---

<!DOCTYPE html>

<html dir="ltr" lang="en-US">
  {% include head.html %}

  <body class="stretched">

    <div id="wrapper" class="clearfix">
  
      <!-- Header
      ============================================= -->
      <header id="header" class="split-menu static-sticky">
        <div id="header-wrap">
          <div class="container clearfix">
            <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

            <!--  Logo
            ============================================= -->
            <div id="logo" class="page-logo">
              <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/lj-white-2.png"><img src="{{ site.baseurl }}/img/logos/laurajanelle2018.png" alt="Laura Janelle Logo"></a>
              <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/lj-white-2.png"><img src="{{ site.baseurl }}/img/logos/laurajanelle2018.png" alt="Laura Janelle Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">
              <ul class="nav-left">
                
                {% if page.url == "/about/" %}
                <li class="current"><a href="{{ site.baseurl }}/about"><div>ABOUT</div></a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/about"><div>ABOUT</div></a></li>
                {% endif %}

                {% if page.url == "/findstore/" %}
                <li class="current"><a href="{{ site.baseurl }}/findstore"><div>FIND A STORE</div></a></li>
                {% else %}
                <li><a href="{{ site.baseurl }}/findstore"><div>FIND A STORE</div></a></li>
                {% endif %}

                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>SHOP</div></a></li>
                
                <!--
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>LOOK</div></a></li>
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>JEWELRY</div></a></li>
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>APPAREL</div></a></li>
                  -->
             
              </ul>
              <ul class="nav-right">
                
                <li><a href="{{ site.baseurl }}/store/#specials" target="_blank"><div style="color: #cc0000">SPECIALS</div></a></li>

                {% if page.url == "/contact/" %}
                  <li class="current"><a href="{{ site.baseurl }}/contact" ><div>CONTACT</div></a></li>
                {% else %}
                  <li><a href="{{ site.baseurl }}/contact"><div>CONTACT</div></a></li>
                {% endif %}
                <li><a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank">FIND A REP</a></li>
               

                <!--
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>ACCESSORIES</div></a></li>
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>LIFESTYLE</div></a></li>
                <li><a href="{{ site.baseurl }}/retailerlogin" target="_blank"><div>PROGRAMS</div></a></li>
                 -->
                
              </ul>
            </nav>  
          </div>
        </div>
      </header><!-- #header end -->
    {{ content }}

        <!-- Footer
      ============================================= -->
      <footer id="footer" class="dark">
        <div class="container">

          <!-- Copyrights
              ============================================= -->
          <div id="copyrights">
            <div class="container clearfix">
              <div class="center" style="font-size: 12px">
                <div class="copyrights-menu copyright-links clearfix">
                  <a href="{{ site.baseurl }}/about">ABOUT</a> |
                  <a href="{{ site.baseurl }}/meet">MEET</a> |
                  <a href="{{ site.baseurl }}/findstore">FIND A STORE</a> |
                  <a href="{{ site.baseurl }}/retailerlogin">SHOP</a> |
                  <a href="{{ site.baseurl }}/store/#specials">SPECIALS</a> |
                  <a href="{{ site.baseurl }}/careers">CAREERS</a> |
                  <a href="https://www.ivystone.com/find/search-for-a-sales-representative.asp" target="_blank">FIND A REP</a> |
                  <a href="{{ site.baseurl }}/privacy">POLICY</a> |
                  <a href="{{ site.baseurl }}/faq">FAQ</a> |
                  <a href="{{ site.baseurl }}/contact">CONTACT US</a> |
                  <a href="http://www.cousin.com">COUSIN.COM</a>
                </div>
                <div class="line"></div>
                &copy; ALL RIGHTS RESERVED BY LAURA JANELLE, A DIVISION OF COUSIN CORPORATION OF AMERICA 2018
              </div>
            </div>
            <!-- #copyrights end -->
          </div>
        </div>
      </footer>
      <!-- #footer end -->
      <!-- Modal -->
      <div class="modal1 mfp-hide" id="mailChimpModal">
          <div class="block divcenter" style="background-color: #FFF; max-width: 500px;">
            <div class="center" style="padding: 50px;">
              <h3>Thank You for Subscribing</h3>
              <p class="nobottommargin">You've been added to our mailing list and will now be among the first to hear about new arrivals, big events, and special offers.</p>
            </div>
            <div class="section center nomargin" style="padding: 30px;">
              <a href="#" class="button" onClick="$.magnificPopup.close();return false;">Close</a>
            </div>
          </div>
        </div>
    </div>

    {% include js.html %}


    {% if page.url == "/findstore/" %}
    <style>
    footer {
      margin-top: 24px !important;
    }
    </style>

    <link rel="stylesheet" type="text/css" href="{{ "/find-assets/css/storelocator.css" | prepend: site.baseurl }}">
    <script defer src="{{ "/find-assets/js/libs/handlebars.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="https://maps.google.com/maps/api/js?key=AIzaSyDr-wWyQRq0K-iZWQLc2E5IjCt0TP-AkOo"></script>
    <script defer type="text/javascript" src="{{ "/find-assets/js/plugins/storeLocator/jquery.storelocator.min.js" | prepend: site.baseurl }}"></script>


    <script defer>
    $(function() {
      $('#bh-sl-map-container').storeLocator({
        'dataType': 'json',
        'dataLocation': '../data/fulllocations.json',
        'mapSettings': {
    			zoom: 10,
    			mapTypeId: google.maps.MapTypeId.ROADMAP
    		},
        'storeLimit': 2500,
        'fullMapStart': true,
        'autoGeocode': true,
        'maxDistance': true,
        'infowindowTemplatePath': '../find-assets/js/plugins/storeLocator/templates/infowindow-description.html',
    		'listTemplatePath': '../find-assets/js/plugins/storeLocator/templates/location-list-description.html'
      });
    });
    </script>
    {% endif %}








    {% if page.url == "/careers/" %}
    <!-- gets rid of random line of demarcation  on headings*/ -->
    <style>
    .heading-block:after {
      display: none;
    }
    </style>

    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
      document.getElementById("validateButton").disabled = true;
      function enableBtn(){
        document.getElementById("validateButton").disabled = false;
      }
    </script>

    <script defer>
    $(document).ready(function() {
      $("#validateButton").click(function() {
        var hasErrors = $('#template-jobform').validator('validate').has('.has-error').length;
        if (hasErrors) {
          alert('Job application has errors.');
        } else {
          $("#apply").click();
        }
      });
    });
    </script>
    {% endif %}







    {% if page.url == "/contact/" %}
    
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <script>
      document.getElementById("contactform-submit").disabled = true;
      function enableBtn(){
        document.getElementById("contactform-submit").disabled = false;
      }
    </script>
    <script defer>
      $( "a.showContactForm" ).click( function () {
        $(".contact-img").hide("slow");
        $("#contact-form").show( "fade", 2000 );
      });

      $("#contactform-back").click(function () {
        $("#contact-form").hide("slow");
        $("#thanks").hide("slow");
        $(".contact-img").show("slow");
      });

      var $window = $(window);

      /* Function to handle changes to style classes based on window width */
      function checkWidth() {
        if ($window.width() < 1200) {
            $('.row').children("div").removeClass('col-sm-3').addClass('col-sm-6');
        };

        if ($window.width() >= 1200) {
            $('.row').children("div").removeClass('col-sm-6').addClass('col-sm-3');
        }
      }

      /* Execute on load */
      checkWidth();

      /* Bind event listener */
      $(window).resize(checkWidth);
    </script>
    {% endif %}

    
    {% if page.url == "/birthstone-index/"  %}
    <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
    <script defer src="{{ "/include/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.video.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.actions.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js" | prepend: site.baseurl }}"></script>

    <script defer>
  

		var tpj=jQuery;
		var revapi4;

		tpj(document).ready(function() {
			if(tpj("#rev_slider_4_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_4_1");
			}else{
				revapi4 = tpj("#rev_slider_4_1").show().revolution({
					sliderType:"standard",
					jsFileLocation:"include/rs-plugin/js/",
				/*	sliderLayout:"fullwidth", */
					dottedOverlay:"none",
					delay: 3500,
					navigation: {
						keyboardNavigation:"on",
						keyboard_direction: "horizontal",
						mouseScrollNavigation:"off",
						 mouseScrollReverse:"default",
						onHoverStop:"off",
						touch:{
							touchenabled:"on",
							swipe_threshold: 75,
							swipe_min_touches: 1,
							swipe_direction: "horizontal",
							drag_block_vertical: false
						}
						,
						arrows: {
							style:"metis",
							enable:true,
							hide_onmobile:true,
							hide_under:768,
							hide_onleave:false,
							tmp:'',
							left: {
								h_align:"left",
								v_align:"center",
								h_offset:0,
								v_offset:0
							},
							right: {
								h_align:"right",
								v_align:"center",
								h_offset:0,
								v_offset:0
							}
						}
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1400,1200,1000,480],
					gridheight:[1000,900,700,700],
					lazyType:"single",
					parallax: {
						type:"", /* 3D */
						origo:"slidercenter",
						speed:400,
						levels:[5,10,15,20,25,30,35,40,-5,-10,-15,-20,-25,-30,-35,55],
						type:"", /* 3D */
						ddd_shadow:"off",
						ddd_bgfreeze:"off",
						ddd_overflow:"visible",
						ddd_layer_overflow:"visible",
						ddd_z_correction:65,
						disable_onmobile:"on"
					},
					spinner:"off",
					stopLoop:"off",
					stopAfterLoops:-1, /* 0 */
					stopAtSlide:-1, /* 1 */
					shuffle:"off",
					autoHeight:"off",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						nextSlideOnWindowFocus:"off",
						disableFocusListener:false,
					}
				});
			}
		});	/*ready*/

     </script>
      {% endif %}

      {% if page.url == "/"  %}
        <!-- SLIDER REVOLUTION 5.x SCRIPTS  -->
        
        <script defer src="{{ "/include/rs-plugin/js/jquery.themepunch.tools.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/jquery.themepunch.revolution.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.video.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.slideanims.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.actions.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.layeranimation.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.migration.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.navigation.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.parallax.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.carousel.min.js" | prepend: site.baseurl }}"></script>
    <script defer src="{{ "/include/rs-plugin/js/extensions/revolution.extension.kenburn.min.js" | prepend: site.baseurl }}"></script>




        
        <script>
		/******************************************
		-	PREPARE PLACEHOLDER FOR SLIDER	-
		******************************************/

		var revapi;
		jQuery(document).ready(function() {
			revapi = jQuery("#rev_slider").revolution({
				sliderType:"standard",
				sliderLayout:"boxed",
				delay:4000,
				navigation: {
					arrows:{enable:true}
				},
				gridwidth:1140,
				gridheight:800
			});
		});	/*ready*/
	</script>

      {% endif %}
  </body>

</html>
