---
layout: compress
---

<!DOCTYPE html>

<html dir="ltr" lang="en-US">

  {% include head.html %}
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  <body id="body" class="sticky-footer stretched">
    <div id="wrapper" class="clearfix">
      {% include topbar.html %}
      <!-- Header
      ============================================= -->
      <header id="header" class="full-header static-sticky">
        <div id="header-wrap">
          <div class="container clearfix">
            <div id="primary-menu-trigger" class="page-trigger"><i class="icon-reorder"></i></div>
            <!-- Logo
            ============================================= -->
            <div id="logo" class="page-logo">
              <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-2.png"><img src="{{ site.baseurl }}/img/logos/laurajanelle2018.png" alt="Laura Janelle Logo"></a>
              <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-2.png"><img src="{{ site.baseurl }}/img/logos/lj-store.png" alt="Laura Janelle Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">
              <ul>
                <li><a href="/"><div>Home</div></a></li>
            
                <li><a href="#shop" onclick="filterFunction5();"><div>Shop&nbsp;<i class="toggle-closed icon-chevron-down"></i></div></a>
                  <div class="mega-menu-content style-2 clearfix">
                    <ul class="mega-menu-column col-md-4">
                      <li class="mega-menu-title"><a href="#"><div>Look</div></a>
                        <ul>
                          <li><a href="#shop" onclick="filterFunction('sleek');"><div>Sleek</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('encharming');"><div>Encharming</div></a></li>                  
                          <li><a href="#shop" onclick="filterFunction('rglb');"><div>RGLB</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('mantra');"><div>Mantra</div></a></li>                        
                          <li><a href="#shop" onclick="filterFunction('identify');"><div>Identify</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('chic');"><div>Boho Chic</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('handbag');"><div>LJ Handbags</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('apparel');"><div>LJ Apparel</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('spirit');"><div>Team Spirit</div></a></li>
                          <!-- <li><a href="#shop" onclick="ljPink();"><div>LJ Pink</div></a></li> -->
                        </ul>
                      </li>
                    </ul>
                    <ul class="mega-menu-column col-md-4">
                      <li class="mega-menu-title"><a href="#"><div>Type</div></a>
                        <ul>
                          <li><a href="#shop" onclick="filterFunction3('program');"><div>Programs</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('necklace');"><div>Necklaces</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('bracelet');"><div>Bracelets</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('earring');"><div>Earrings</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('lanyard');"><div>Lanyards</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('clip');"><div>clips</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('keychain');"><div>Keychains</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('set');"><div>Sets</div></a></li>  
                          <li><a href="#shop" onclick="filterFunction3('display');"><div>Displays</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('mug');"><div>Mugs</div></a></li>  
                        </ul>
                      </li>
                    </ul>
                    <ul class="mega-menu-column col-md-4">
                      <li class="mega-menu-title"><a href="#"><div>Type</div></a>
                        <ul>
                          <li><a href="#shop" onclick="filterFunction3('Oil');"><div>Oils</div></a></li>  
                          <li><a href="#shop" onclick="filterFunction3('accessories');"><div>Accesories</div></a></li>  
                          <li><a href="#shop" onclick="filterFunction3('scarf');"><div>Scarves</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('pendant');"><div>Pendants</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('purse');"><div>Purse</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('wristlet');"><div>Wristlets</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('brooch');"><div>Brooches</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('ring');"><div>Rings</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('versatile');"><div>Versatile</div></a></li>  
                          <li><a href="#shop" onclick="filterFunction3('journal');"><div>Journals</div></a></li>  
                        </ul>
                      </li>
                    </ul>
                  </div>
                </li><!-- .mega-menu end -->
                <li><a href="#profile"><div>MY ACCOUNT&nbsp;<i class="toggle-closed icon-chevron-down"></i></div></a>
                  <ul>
                    <li><a href="#profile"><div>PROFILE</div></a></li>
                    <li><a href="#invoices"><div>INVOICES</div></a></li>
                    <li><a href="#orders"><div>ORDERS</div></a></li>
                  </ul>
                </li>
                
                <li><a href="#shop" onclick="filterFunction4();"><div>Specials</div></a></li>
              
                <li><a href="#cart"><div>Cart</div></a></li>
                <li><a href="#" onclick="logoff();"><div>Log Out</div></a></li>
              </ul>

              <!-- Top Cart
              ============================================= -->
              <div id="top-cart">
                <a href="#cart" id="top-cart-trigger"><i class="icon-shopping-cart"></i></a>
                <div class="top-cart-content">
                  <div class="top-cart-title">
                    <h4>Shopping Cart</h4>
                  </div>
                  <div class="top-cart-items" id="minicart">
                
                  </div>
                  <div class="top-cart-action clearfix">
                 
                    <button class="button button-3d button-small nomargin fright" onclick="windowHash('cart');">View Cart</button>
                  </div>
                </div>
              </div><!-- #top-cart end -->

              <!-- Top Search
              ============================================= -->
              <div id="top-search">
                <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                <form>
                  <input id="searchvalue" type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." onKeyPress="return search(event);">
                </form>
              </div><!-- #top-search end -->
            </nav><!-- #primary-menu end -->
          </div>
        </div>
      </header><!-- #header end -->
      <section id="page-title" class="page-title-center">

        <div class="container clearfix">
          <h1 id="fill-page-title" style="font-family: Bodoni-Sans,sans-serif;font-weight: 600; color: #444; letter-spacing: 2px; text-transform: uppercase; line-height: 1.5;"></h1>
        </div>
  
      </section><!-- #page-title end -->

      {{ content }}

      <!-- Footer
      ============================================= -->
      <footer id="footer" class="dark">
        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
          <div class="container clearfix">
            <div class="col_half t300">
              <img src="{{ site.baseurl }}/img/logos/lj-white-footer.png" alt="Cousin Corporation" class="footer-logo">
              Copyrights &copy; 2018 All Rights Reserved by Cousin Corporation.
            </div>
            <div class="col_half col_last tright">
              <div class="copyrights-menu copyright-links clearfix">
  							<a href="{{ site.baseurl }}/about">ABOUT</a>/<a href="{{ site.baseurl }}/meet">MEET</a>/<a href="{{ site.baseurl }}/findstore">FIND</a>/<a href="{{ site.baseurl }}/careers">CAREERS</a>/<a href="{{ site.baseurl }}/contact">CONTACT</a>
  						</div>
              <div class="clear"></div>
              <div class="fright clearfix">
                <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-small si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                  <i class="icon-instagram"></i>
                  <i class="icon-instagram"></i>
                </a>

                <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-small si-borderless si-pinterest">
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>

                <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-small si-borderless si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- #copyrights end -->
      </footer><!-- #footer end -->
    </div>
    
    <!-- Star Rating CSS -->
	  <link rel="stylesheet" href="{{ "/css/components/bs-rating.min.css" | prepend: site.baseurl }}" type="text/css">
    <!-- Star Rating Plugin -->
	    
    {% include js.html %}

    <script defer type="text/javascript" src="{{ "/js/components/star-rating.min.js" | prepend: site.baseurl }}"></script>

    <script defer>
    $(window).on('hashchange', function() {
      whichPage();
    });

    $(function() {
      whichPage();
      sessionNumber();
      /* 
      filterFunction4();
      $.get("https://netlink.laurajanelle.com:444/nlhelpers/laurajanelle-api/search.php?&data=18005BA%2C%2B18001BA%2C%2B18057EA%2C%2B18046NA%2C%2B135BA%2C%2B123NA%2C%2B18098PR%2C%2B119BA%2C%2B123BA%2C%2B18031BA%2C%2B1043PP%2C%2B1051A%2C%2B18053RA%2C%2B18056PR%2C%2B103EA%2C%2B1133BA%2C%2B18060NA%2C%2B18028BA%2C%2B103HA%2C%2B119002BA%2C%2B18030BA%2C%2B103EVA%2C%2B18048BA%2C%2B18098WEG%2C%2B18047A%2C%2B10700B%2C%2B18041LBKS%2C%2B18041LBKL%2C%2B1300A%2C%2B18054NA%2C%2B107BA%2C%2B18041LBSS%2C%2B18041LBSL%2C%2B1043A%2C%2B12900A%2C%2B18098NA%2C%2B18056NA%2C%2B18041LTPS%2C%2B18041LTPL%2C%2B18043LBLP%2C%2B1044A%2C%2B18043LTRQ%2C%2B11900BA%2C%2B18041LGHS%2C%2B18043LGRY%2C%2B18041LGHL%2C%2B18044LBLK%2C%2B18044LBLU%2C%2B10382%2C%2B12354", function (response) {
        $("#shopItems, div[data-group='color'], div[data-group='type'], div[data-group='metal']").empty();
        itemRender2("shopItems", response);
      });
      SEMICOLON.initialize.lightbox();
     */
      $.ajax({
        type: "GET",
        url: "https://netlink.laurajanelle.com:444/nlhelpers/laurajanelle-api/bestseller.php?",
        data: {
          data: "18005BA+18001BA+18057EA+18046NA+135BA+123NA+18098PR+119BA+123BA+18031BA+1043PP+1051A+18053RA+18056PR+103EA+1133BA+18060NA+18028BA+103HA+119002BA+18030BA+103EVA+18048BA+18098WEG+18047A+10700B+18041LBKS+18041LBKL+1300A+18054NA+107BA+18041LBSS+18041LBSL+1043A+12900A+18098NA+18056NA+18041LTPS+18041LTPL+18043LBLP+1044A+18043LTRQ+11900BA+18041LGHS+18043LGRY+18041LGHL+18044LBLK+18044LBLU+10382+12354"
        },
        success: function(response) {
          $("#shopItems, div[data-group='color'], div[data-group='type'], div[data-group='metal']").empty();
          itemRender2("shopItems", response);
        },
        complete: function(){
          SEMICOLON.initialize.lightbox();
        }
      });

      $('nav ul li a').click(function() {
        var $linkClicked = $(this).attr('href');
        document.location.hash = $linkClicked;
        if (!$(this).parent().hasClass("current")) {
          $("nav ul li").removeClass("current");
          $(this).parent().addClass("current");
          return false;
        } else {
          return false;
        }
      });
      shopPage();
      newCustomerSession();
    });

    $("a#showDeliveryChart" ).click( function () {
      $("a#showDeliveryChart").hide();
      $("#deliveryChart").show();
    });

    $("#contactform-back").click(function () {
      $("#deliveryChart").hide();
      $("a#showDeliveryChart").show();
    });



		jQuery(window).load(function(){
			var $container = $('#shopItems');
			$container.infinitescroll({
				loading: {
					finishedMsg: '<i class="icon-line-check"></i>',
					msgText: '<i class="icon-line-loader icon-spin"></i>',
					img: "images/preloader-dark.gif",
					speed: 'normal'
				},
				state: {
					isDone: false
				},
				nextSelector: "#load-next-posts a",
				navSelector: "#load-next-posts",
				itemSelector: "div.product",
				behavior: 'portfolioinfiniteitemsloader'
			},
			function( newElements ) {
				$container.isotope( 'appended', $( newElements ) );
				var t = setTimeout( function(){ $container.isotope('layout'); }, 2000 );
				SEMICOLON.widget.loadFlexSlider();
				SEMICOLON.portfolio.arrange();
			});
		});

    </script>
  </body>

</html>
