---
layout: compress
---

<!DOCTYPE html>

<html dir="ltr" lang="en-US">

  {% include head.html %}
  <link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light+Two" rel="stylesheet">
  <body id="body" class="sticky-footer stretched">
    <div id="wrapper" class="clearfix">
      {% include topbar.html %}
      <!-- Header
      ============================================= -->
      <header id="header" class="full-header">
        <div id="header-wrap">
          <div class="container clearfix">
            <div id="primary-menu-trigger" class="page-trigger"><i class="icon-reorder"></i></div>
            <!-- Logo
            ============================================= -->
            <div id="logo" class="page-logo">
              <a href="{{ site.baseurl }}/" class="standard-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-2.png"><img src="{{ site.baseurl }}/img/logos/lj-store.png" alt="Laura Janelle Logo"></a>
              <a href="{{ site.baseurl }}/" class="retina-logo" data-dark-logo="{{ site.baseurl }}/img/lj-bw-2.png"><img src="{{ site.baseurl }}/img/logos/lj-store.png" alt="Laura Janelle Logo"></a>
            </div><!-- #logo end -->

            <!-- Primary Navigation
            ============================================= -->
            <nav id="primary-menu">
              <ul>
                <li><a href="/"><div>Home</div></a></li>
            
                <li><a href="#shop" onclick="filterFunction5();"><div>Shop&nbsp;<i class="toggle-closed icon-chevron-down"></i></div></a>
                  <div class="mega-menu-content style-2 clearfix">
                    <ul class="mega-menu-column col-md-4">
                      <li class="mega-menu-title"><a href="#"><div>Look</div></a>
                        <ul>
                          <li><a href="#shop" onclick="filterFunction('sleek');"><div>Sleek</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('encharming');"><div>Encharming</div></a></li>
                  
                          <li><a href="#shop" onclick="filterFunction('rglb');"><div>RGLB</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('mantra');"><div>Mantra</div></a></li>
                        
                          <li><a href="#shop" onclick="filterFunction('identify');"><div>Identify</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('treasures');"><div>Natural Treasures</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('handbag');"><div>LJ Handbags</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('apparel');"><div>LJ Apparel</div></a></li>
                          <li><a href="#shop" onclick="filterFunction('spirit');"><div>Team Spirit</div></a></li>
                          <!-- <li><a href="#shop" onclick="ljPink();"><div>LJ Pink</div></a></li> -->
                        </ul>
                      </li>
                    </ul>
                    <ul class="mega-menu-column col-md-4">
                      <li class="mega-menu-title"><a href="#"><div>Type</div></a>
                        <ul>
                          <li><a href="#shop" onclick="filterFunction3('program');"><div>Programs</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('necklace');"><div>Necklaces</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('bracelet');"><div>Bracelets</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('earring');"><div>Earrings</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('lanyard');"><div>Lanyards</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('clip');"><div>clips</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('tassel');"><div>Tassels</div></a></li>
                          <li><a href="#shop" onclick="filterFunction3('set');"><div>Sets</div></a></li>  
                          <li><a href="#shop" onclick="filterFunction3('display');"><div>Displays</div></a></li>
                        </ul>
                      </li>
                    </ul>
                    <ul class="mega-menu-column col-md-4">
                        <li class="mega-menu-title"><a href="#"><div>Type</div></a>
                          <ul>                            
                            <li><a href="#shop" onclick="filterFunction3('Oil');"><div>Oils</div></a></li>  
                            <li><a href="#shop" onclick="filterFunction3('accessories');"><div>Accesories</div></a></li>   <!-- not categorized right -->
                            <li><a href="#shop" onclick="filterFunction3('scarf');"><div>Scarves</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('pendant');"><div>Pendants</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('purse');"><div>Purse</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('wristlet');"><div>Wristlets</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('brooch');"><div>Brooches</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('ring');"><div>Rings</div></a></li>
                            <li><a href="#shop" onclick="filterFunction3('versatile');"><div>Versatile</div></a></li>  <!-- not categorized right -->
                          </ul>
                        </li>
                      </ul>
                  </div>
                </li><!-- .mega-menu end -->
                <li><a href="#profile"><div>MY ACCOUNT&nbsp;<i class="toggle-closed icon-chevron-down"></i></div></a>
                  <ul>
                    <li><a href="#profile"><div>PROFILE</div></a></li>
                    <li><a href="#invoices"><div>INVOICES</div></a></li>
                    <li><a href="#orders"><div>ORDERS</div></a></li>
                  </ul>
                </li>
                <!--
                <li><a href="#shop" onclick="filterFunction4();"><div>Specials</div></a></li>
                -->
                <li><a href="#cart"><div>Cart</div></a></li>
                <li><a href="#" onclick="logoff();"><div>Log Out</div></a></li>
              </ul>

              <!-- Top Cart
              ============================================= -->
              <div id="top-cart">
                <a href="#cart" id="top-cart-trigger"><i class="icon-shopping-cart"></i></a>
                <div class="top-cart-content">
                  <div class="top-cart-title">
                    <h4>Shopping Cart</h4>
                  </div>
                  <div class="top-cart-items" id="minicart">
                
                  </div>
                  <div class="top-cart-action clearfix">
                 
                    <button class="button button-3d button-small nomargin fright" onclick="windowHash('cart');">View Cart</button>
                  </div>
                </div>
              </div><!-- #top-cart end -->

              <!-- Top Search
              ============================================= -->
              <div id="top-search">
                <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
                <form>
                  <input id="searchvalue" type="text" name="q" class="form-control" value="" placeholder="Type &amp; Hit Enter.." onKeyPress="return search(event);">
                </form>
              </div><!-- #top-search end -->
            </nav><!-- #primary-menu end -->
          </div>
        </div>
      </header><!-- #header end -->

      {{ content }}

      <!-- Footer
      ============================================= -->
      <footer id="footer" class="dark">
        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">
          <div class="container clearfix">
            <div class="col_half t300">
              <img src="{{ site.baseurl }}/img/logos/lj-white-footer.png" alt="Cousin Corporation" class="footer-logo">
              Copyrights &copy; 2017 All Rights Reserved by Cousin Corporation.
            </div>
            <div class="col_half col_last tright">
              <div class="copyrights-menu copyright-links clearfix">
  							<a href="{{ site.baseurl }}/about">ABOUT</a>/<a href="{{ site.baseurl }}/meet">MEET</a>/<a href="{{ site.baseurl }}/findstore">FIND</a>/<a href="{{ site.baseurl }}/careers">CAREERS</a>/<a href="{{ site.baseurl }}/contact">CONTACT</a>
  						</div>
              <div class="clear"></div>
              <div class="fright clearfix">
                <a href="https://www.facebook.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-facebook">
                  <i class="icon-facebook"></i>
                  <i class="icon-facebook"></i>
                </a>

                <a href="https://twitter.com/LJbyCousin" target="_blank" class="social-icon si-small si-borderless si-twitter">
                  <i class="icon-twitter"></i>
                  <i class="icon-twitter"></i>
                </a>

                <a href="https://www.instagram.com/laurajanellebycousin/" target="_blank" class="social-icon si-small si-borderless si-instagram">
                  <i class="icon-instagram"></i>
                  <i class="icon-instagram"></i>
                </a>

                <a href="https://www.pinterest.com/laurajbycousin/" target="_blank" class="social-icon si-small si-borderless si-pinterest">
                  <i class="icon-pinterest"></i>
                  <i class="icon-pinterest"></i>
                </a>

                <a href="https://www.linkedin.com/company/laura-janelle" target="_blank" class="social-icon si-small si-borderless si-linkedin">
                  <i class="icon-linkedin"></i>
                  <i class="icon-linkedin"></i>
                </a>
              </div>
            </div>
          </div>
        </div><!-- #copyrights end -->
      </footer><!-- #footer end -->
    </div>
    
    <!-- Star Rating CSS -->
	    <link rel="stylesheet" href="{{ "/css/components/bs-rating.min.css" | prepend: site.baseurl }}" type="text/css">
     <!-- Star Rating Plugin -->
	    
    {% include js.html %}

    <script defer type="text/javascript" src="{{ "/js/components/star-rating.min.js" | prepend: site.baseurl }}"></script>
 <!-- filterFunction2('APISTKLST','80011400','','','','',session_no,'800'); -->
    <script defer>
    $(window).on('hashchange', function() {
      whichPage();
    });

    $(function() {
      whichPage();
      sessionNumber();
      filterFunction6();

      $('nav ul li a').click(function() {
        var $linkClicked = $(this).attr('href');
        document.location.hash = $linkClicked;
        if (!$(this).parent().hasClass("current")) {
          $("nav ul li").removeClass("current");
          $(this).parent().addClass("current");
          return false;
        } else {
          return false;
        }
      });
      shopPage();
      newCustomerSession();
    });

    $("a#showDeliveryChart" ).click( function () {
      $("a#showDeliveryChart").hide();
      $("#deliveryChart").show();
    });

    $("#contactform-back").click(function () {
      $("#deliveryChart").hide();
      $("a#showDeliveryChart").show();
    });
    </script>
  </body>

</html>
